name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PNPM_VERSION: 10
  HUSKY: 0
  EXTENSION_NAME: vscode-extension-template
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node with pnpm
        uses: ./.github/actions/setup-node-env
        with:
          pnpm-version: ${{ env.PNPM_VERSION }}

      - name: Lint
        run: pnpm run lint

      - name: Format Check
        run: pnpm run format:check

      - name: Typecheck
        run: pnpm run typecheck

      - name: Unit Tests
        run: pnpm run test

      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: unit-test-results
          path: reports

      - uses: codecov/codecov-action@v4
        with:
          files: ./reports/coverage/clover.xml
          flags: unittests # optional
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node with pnpm
        uses: ./.github/actions/setup-node-env
        with:
          pnpm-version: ${{ env.PNPM_VERSION }}

      - name: Build Extension
        run: pnpm run build

      - name: Package Extension
        run: pnpm run package

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        if: ${{ github.event_name != 'pull_request' }}
        with:
          name: ${{ env.EXTENSION_NAME }}
          path: ./*.vsix

  release:
    name: Release
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node with pnpm
        uses: ./.github/actions/setup-node-env
        with:
          pnpm-version: ${{ env.PNPM_VERSION }}

      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist

      - name: Bump version
        run: pnpm version --no-git-tag-version ${{ github.event.release.tag_name }}

      - name: Update Changelog
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ github.event.release.tag_name }}
          release-notes: ${{ github.event.release.body }}

      - name: Publish to Marketplace
        run: pnpm publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: Commit release files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_message: "chore(release): [skip ci] ${{ github.event.release.tag_name }}"
          file_pattern: CHANGELOG.md package.json
